* {
  font-family: "Manrope", sans-serif;
}

body {
  margin-top: 1%;
  color: #ffffff;
  min-height: 100 vh;
  background: linear-gradient(90deg, #23238e 0%, black 100%);
  display: block;
  justify-content: left;
  align-items: left;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  /* Importantissimo para criar a margem da pagina centralizada conforme design */
}

.cabecalho {
  display: block;
}

#titulo {
  color: #ffffff;
  margin: 0 0 0 500px;
  position: absolute;
  font-weight: bold;
  top: 30px;
  font-size: 25px;
}

.container-inputs {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  position: relative;
  /* border: 3px white solid; */
  padding: 30px;
}

h3 {
  margin: 0;
}

.form-file {
  margin: 15px;
  padding-left: 325px;

}

.file-name-1 {
  /*  margin-top: 20px;  */
  padding: 5px;
}

.container-button {
  padding: 30px;
}

.btn-form {
  display: inline;
}

.buttons {
  display: inline-block;
}

input[type="file"] {
  display: none;
}

label[for="file-3"],
label[for="file-4"] {
  padding: 20px 50px;
  cursor: pointer;
  background-color: orange;
  display: block;
  width: 350px;
  color: black;
  transition: all 0.6s ease 0s;
  text-align: center;
}

label:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.btn-sumbit {
  font-size: 15px;
  width: 330px;
}

.button-save,
.button-ap {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 370px;
}

.button-data-aprovador {
  padding-left: 410px;
}

.button-data-ap,
.button-data-aprovador {
  margin: 20px 0 20px 0;
}

.button-data-ap label,
.button-data-aprovador label {
  display: block;
}
.button-data-ap label:hover,
.button-data-aprovador label:hover {
  background-color: unset;
  color: black;
  cursor: default;
}

.div-msg-save {
  padding: 0 180px;
  text-align: center;
}

.msg-save {
  font-size: 18px;
  display: inline;
}

.text-download {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.span {
  margin: 10px 3px 10px 3px;
  padding: 5px 0;
  width: 450px;
}

.btn-form button {
  padding: 10px 10px;
  cursor: pointer;
  background-color: white;
  display: block;
  width: 200px;
  color: black;
  transition: all 0.3s ease 0s;
}

.btn-form button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container-footer {
  padding-top: 100px;
}

thead tr {
  text-align: center;
}

tbody tr td :nth-child(4) {
  width: 550px;
}

.container-table {
  padding-bottom: 50px;
}

/* Tabela gerada */

table {
  border-collapse: collapse;
}

th {
  background: white;
  color: black;
  border-collapse: collapse;
  text-align: center;
  border: unset;
}

td {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

tbody tr th {
  display: none;
}

thead tr th:nth-child(1) {
  display: none;
}

th:nth-child(6) {
  width: 400px;
}

.description-plan {
  font-size: 14px;
  font-weight: 900;
  margin: unset;
  width: 250px;
  padding-left: 50px;
}
